Flask==3.0.0
flask-cors==4.0.0
python-dotenv==1.0.0
Werkzeug==3.0.1
PyMuPDF==1.23.8  # fitz
beautifulsoup4==4.12.2
duckduckgo-search==4.1.1
backoff==2.2.1
requests==2.31.0
langchain==0.1.0
langchain-community==0.0.13
langchain-groq==0.0.1
chromadb==0.4.22
sentence-transformers==2.2.2
python-docx==1.0.1  # for docx2txt
gunicorn==20.1.0
